# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
Index:
  Background: Build
CompileFlags:
  Add: [
    "-xc++",
    "-W2",
    "--include-directory=./libpbat/",
    "-I${CURRENT_FILE_PATH}/libpbat",
    "-Ilibcu8",
    "-isystem=libpbat/",
  ]
  Compiler: clang++
